.init-bg {
	z-index: 1000;
	opacity: 0.2;
}

.bg {
	z-index: -1;
}

.no-78 {
	top: 1965px;
	left: 1970px;
}

.no-74 {
	top: 2055px;
	left: 1965px;
}

.no-1 {
	top: 2145px;
	left: 1965px;
}

.kingpower-logo-blue {
	top: 185px;
	left: 75px;
}

.mahanakhon-logo {
	top: 225px;
	left: 865px;
}

.headline-mahanakhon {
	top: 720px;
	left: 85px;
}

.text-1 {
	top: 1010px;
	left: 305px;
}

.lev-78 {
	top: 1460px;
	left: -5px;
}

.headline-mahanakhon-highlight {
	top: 1700px;
	left: 645px;
}

.big-img-1 {
	top: 2220px;
	left: 0px;
}

.dec-1 {
	top: 2070px;
	left: 1645px;
}

.dec-2 {
	top: 3190px;
	left: -15px;
}

.text-2 {
	top: 3420px;
	left: 365px;
}

.hexa-frame-1,
.hexa-img-1 {
	top: 3790px;
	left: 925px;
}

.hexa-frame-2,
.hexa-img-2 {
	top: 4390px;
	left: 580px;
}

.hexa-frame-3,
.hexa-img-3 {
	top: 4990px;
	left: 925px;
}

.hexa-frame-4,
.hexa-img-4 {
	top: 5580px;
	left: 570px;
}

.text-3 {
	top: 4000px;
	left: 415px;
}

.text-4 {
	top: 4570px;
	left: 1330px;
}

.text-5 {
	top: 5185px;
	left: 400px;
}

.text-6 {
	top: 5840px;
	left: 1330px;
}

.lev-74 {
	top: 6670px;
	left: -5px;
}

.text-7 {
	top: 6620px;
	left: 405px;
}

.big-vdo-1 {
	top: 7350px;
	left: 0px;
}

.dec-3 {
	top: 7200px;
	left: 1645px;
}

.dec-4 {
	top: 8320px;
	left: -15px;
}

.text-8 {
	top: 8570px;
	left: 395px;
}

.hexa-frame-5,
.hexa-img-5 {
	top: 9080px;
	left: 925px;
}

.hexa-frame-6,
.hexa-img-6 {
	top: 9680px;
	left: 580px;
}

.text-9 {
	top: 9225px;
	left: 400px;
}

.text-10 {
	top: 9900px;
	left: 1345px;
}

.lev-1 {
	top: 10350px;
	left: -5px;
}

.big-img-2 {
	top: 11050px;
	left: 0px;
}

.dec-5 {
	top: 10900px;
	left: 1645px;
}

.dec-6 {
	top: 12020px;
	left: -15px;
}

.hexa-frame-7,
.hexa-img-7 {
	top: 12340px;
	left: 920px;
}

.hexa-frame-8,
.hexa-img-8 {
	top: 12935px;
	left: 575px;
}

.text-11 {
	top: 12550px;
	left: 405px;
}

.text-12 {
	top: 13145px;
	left: 1350px;
}
